/Personaje.class
/Soldado_1.class
/Soldado_2.class
/Soldado_3.class
/Soldado_4.class
/Soldado_5.class
/Dustin.class
/Hopper.class
/Maxine.class
/Mike.class
/Rapper_1.class
/Monje_1.class
/Monje_2.class
/Monje_3.class
/Monje_4.class
/Monje_5.class
